<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">HSPA</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            aria-current="page"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/buy-property"
            >Buy</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/rent-property"
            >Rent</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/add-property"
            >List Property (Free)</a
          >
        </li>
      </ul>
      <div>
        <ul class="nav navbar-nav">
          <li *ngIf="!loggedIn()" class="nav-item">
            <a
              [routerLink]="['/register']"
              routerLinkActive="router-link-active"
              class="nav-link"
              >Register</a
            >
          </li>
          <li *ngIf="!loggedIn()" class="nav-item">
            <a
              [routerLink]="['/login']"
              routerLinkActive="router-link-active"
              class="nav-link"
              >Login</a
            >
          </li>
          <div *ngIf="loggedIn()" class="dropdown me-lg-5" dropdown>
            <a
              href="#"
              class="dropdown-toggle text-light nav-link"
              routerLinkActive="router-link-active"
              dropdownToggle
              (click)="(false)"
            >
              Welcome {{ loggedname }}
            </a>
            <li class="nav-item">
              <div class="dropdown-menu" *dropdownMenu>
                <a href="#" class="dropdown-item">
                  <i class="fas fa-tachometer-alt">&nbsp; View Dashboard</i>
                </a>
                <a href="#" class="dropdown-item">
                  <i class="fas fa-user-circle">&nbsp;My profile</i>
                </a>
                <a href="#" class="dropdown-item">
                  <i class="fas fa-key">&nbsp;change my password</i>
                </a>
                <a (click)="onLogOut()" class="dropdown-item">
                  <i class="fas fa-sign-out-alt">&nbsp;Logout</i>
                </a>
              </div>
            </li>
          </div>
        </ul>
      </div>
      <!-- <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
